@charset "UTF-8";

/* Versão Mobile First */

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: lightgrey;
}


header{
    background-color: rgba(163, 159, 159, 0.534);
}

header > h1{
    text-align: center;
    padding: 10px;
}

menu{
    display: block;
}

menu > ul > li{
    list-style-type: none;
}

menu > ul > li > a{
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(87, 87, 87);
    color: white;
    border-top: 2px solid gray;
}

menu > ul > li > a:hover{
    background-color: gray;
}

main{
    background-color: white;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    width: 90vw;
}

main > article > h2{
    padding-bottom: 20px;
}

main > article > p{
    text-align: justify;
    text-indent: 30px;
    margin-bottom: 30px;
}
