@charset "UTF-8";

/* Todas as mídias */
/*

Typical Device Breakpoints 
-----------------------------
Telas menores: ate 600px
Celulares: de 600px ate 768px
Tablets: de 768px ate 992px
Desktops: de 992px ate 1200px
Telas grandes: de 1200px pra diante
*/

@media print{/* Impressoras */

    *{
        font-family: 'Courier New', Courier, monospace;
    }

    body{
        background-color: blue;
    }

    img#print{
        display: block;
    }

    img#phone, img#tablet, img#pc, img#tv{
        display: none;
    }

    main{
        border: 2px solid black;
        min-width: 90vw;
    }

    main::after{
        font-size: 22px;
        content: 'Este site foi impresso através do site https://felisminochico.github.io/ssl';
    }

    main > h1{
        color: black;
        text-shadow: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){/* Tablets */
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#tablet{
        display: block;
    }

    img#phone, img#pc, img#tv{
        display: none;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px){/* Computadores */
    body{
        background-image: url(../imagens/back-pc.jpg);
    }

    img#pc{
        display: block;
    
    }

    img#phone, img#tablet, img#tv{
        display: none;
    }
}

@media screen and (min-width: 1200px){/* Telas grandes */
    body{
        background-image: url(../imagens/back-tv.jpg);
    }

    img#tv{
        display: none;
    }

    img#phone, img#tablet, img#pc{
        display: none;
    }
}